.form {
  width: 500px;
  margin: 50px auto;
}
.blog {
  width: 1200px;
  margin: 50px auto;
}
.text-project {
  text-align: center;
}
.box-blog {
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
  justify-content: start;
}
.box-blog1 {
  width: 280px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(232, 235, 235);
}
.input {
  background-color: rgb(232, 235, 235);
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid rgb(209, 207, 207);
}
.input-email {
  background-color: rgb(232, 235, 235);
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid rgb(209, 207, 207);
  height: 100px;
}
.text-center {
  text-align: center;
}
.label {
  font-weight: bold;
  font-size: 20px;
}
.button {
  background-color: black;
  color: white;
  margin-top: 10px;
  border: none;
  padding: 8px 30px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
.box {
  display: flex;
  justify-content: end;
}
.box-date {
  display: flex;
}
.box-date1 {
  flex: 50%;
}
.box-date2 {
  flex: 50%;
  margin-left: 10px;
}
.box-check {
  display: flex;
}
.box-check1 {
  flex: 50%;
}
.box-check2 {
  flex: 50%;
}
.checkboxtext {
  font-size: 110%;
  display: inline;
}
input[type="checkbox"] {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 5px;
}
.input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}
.input-blog-image-group label p {
  font-size: 15px;
}
.input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
